body, html {
    margin: 0;
    padding: 0;
}
.background {
    background: none repeat scroll 0 0 #333;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1024px;
    overflow: hidden;
    text-align: center;
}
.cloud_container {
    position: relative;
}
.cloud_container img {
    /*    left: 0;*/
    max-width: 100%;
    position: absolute;
}

.cloud_container img.logo {
    display: inline-block;
    margin-top: 30%;
    max-width: 400px;
    position: relative;
    width: 80%;
    z-index: 2;
}
.footer {
    bottom: 100px;
    color: #d6a8b5;
    font-family: Arial, sans-serif;
    font-size: 15pt;
    font-weight: lighter;
    position: absolute;
    width: 100%;
}
.footer h3 {
    font-weight: normal;
}
.container > div {
    position: relative;
    z-index: 5;
}
.hide {
    display: none;
}
#main_message {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 30pt;
    font-weight: normal;
    margin: 10px 15px 15px;
}
#sub_message {
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 18pt;
}
.spinner {
    height: 30px;
    margin: 100px auto 0;
    position: relative;
    width: 30px;
}
.container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #e8a2b5;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.circle1 {
    top: 0;
    left: 0;
}
.circle2 {
    top: 0;
    right: 0;
}
.circle3 {
    right: 0;
    bottom: 0;
}
.circle4 {
    left: 0;
    bottom: 0;
}
.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#floatingBarsG{
position:relative;
width:62px;
height:77px}

.blockG{
position:absolute;
background-color:#FFFFFF;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:normal;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.39s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.39s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.39s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.39s;
-o-transform:rotate(-90deg);
animation-delay:0.39s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.52s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.52s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.52s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.52s;
-o-transform:rotate(-45deg);
animation-delay:0.52s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.65s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.65s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.65s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.65s;
-o-transform:rotate(0deg);
animation-delay:0.65s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.78s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.78s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.78s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.78s;
-o-transform:rotate(45deg);
animation-delay:0.78s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.9099999999999999s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.9099999999999999s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.9099999999999999s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.9099999999999999s;
-o-transform:rotate(90deg);
animation-delay:0.9099999999999999s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:1.04s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:1.04s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:1.04s;
-ms-transform:rotate(135deg);
-o-animation-delay:1.04s;
-o-transform:rotate(135deg);
animation-delay:1.04s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:1.1700000000000002s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:1.1700000000000002s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:1.1700000000000002s;
-ms-transform:rotate(180deg);
-o-animation-delay:1.1700000000000002s;
-o-transform:rotate(180deg);
animation-delay:1.1700000000000002s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1.3s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.3s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.3s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.3s;
-o-transform:rotate(-135deg);
animation-delay:1.3s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}